<p></p>
<div class="container">
  <div class="card  ">

    <div class="card-header bg-primary"  >About</div>
      <div class="card-body">

        <div>
          <h3>Infos :</h3>
          <ul class="list-group">
            <li class="list-group-item">Name:<strong>{{info.name}}</strong></li>
            <li class="list-group-item">Email:<strong>{{info.email}}</strong></li>
            <li class="list-group-item">Mobile:<strong>{{info.mobile}}</strong></li>
          </ul>
        </div>

        <div>
          <form #f="ngForm" (ngSubmit)="onAddComment(f.value)">
         <div class="form-group ">
           <label class="col-form-label-lg" >Messages:</label>
           <input  required name="message" ngModel type="text" [(ngModel)]="comment.message" >
           <button type="submit" [disabled]="!f.valid"  class="btn btn-primary"> Add Comment</button>
         </div>
          </form>
        </div>

        <div>
        <h3>comments</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let c of comments">
              {{c.message}},
              <span class="badge badge-pill badge-info">{{c.date|date:'dd/MM/yyyy:HH:mm:ss'}}</span>

            </li>
          </ul>
        </div>
      </div>
  </div>
</div>




